<!DOCTYPE html>
<html lang="TR" html data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="<%= metaTags.title %>">
    <meta property="og:description" content="<%= metaTags.description %>">
    <meta property="og:image" content="<%= metaTags.image %>">
    <meta property="og:url" content="<%= metaTags.url %>">
    <meta name="description" content="<%= metaTags.description %>">
    <meta name="keywords" content="<%= metaTags.keywords.join(', ') %>">
    <link rel="canonical" href="<%= metaTags.url %>" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style/swiper-bundle.css">
    <link rel="stylesheet" href="/style/styles.css">
    <link rel="shortcut icon" href="/images/karekod.svg" type="image/x-icon">
    
</head>

<body>
    <header>
        <nav>
            <div class="nav-logo">
                <h1><a up-target="main" href="/" class="logo">Kare Menüm</a></h1>
            </div>
            <div class="nav-links">
                <% if (!isAuth) { %>
                    <a up-target="main" href="/auth/login" class="nav-link btn">Giriş yap</a>
                    <a up-target="main" href="/auth/register" class="nav-link btn btn-primary">Kayıt ol</a>
                    <% } %>
            </div>
            <!-- Mobile Menu -->
            <img class="mobile-menu-icon" src="/images/menu-icon.svg" alt="">
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <img class="mobile-menu-icon" src="/images/close.svg" alt="">
                    <% if (isAuth) { %>
                        <div class="infos">
                            <img class="user-image" src="/uploads/<%=photo%>" alt="">
                            <p class="user-name">
                                <%= name %>
                            </p>
                        </div>
                        <% } %>
                            <div class="mobile-menu-links">
                                <% if (!isAuth) { %>
                                    <a class="mobile-menu-link" up-target="main" href="/auth/login">
                                        <p>Giriş yap</p>
                                    </a>
                                    <a class="mobile-menu-link" up-target="main" href="/auth/register">
                                        <p>Kayıt ol</p>
                                    </a>
                                    <% } else{%>
                                        <a class="mobile-menu-link qrcode" up-target="main" href="#">
                                            <img src="/images/karekod.svg" alt="">
                                            <p>Karekodum</p>
                                        </a>
                                        <a class="mobile-menu-link" up-target="main" href="/company/profile">
                                            <img src="/images/profile.svg" alt="">
                                            <p>Profilim</p>
                                        </a>
                                        <a class="mobile-menu-link" href="/auth/logout">
                                            <img src="/images/sign-out.svg" alt="">
                                            <p>Çıkış yap</p>
                                        </a>
                                        <% } %>
                            </div>
                </div>
            </div>
            <% if (isAuth) { %>
                <div class="user-area">
                    <div class="infos">
                        <div class="user">
                            <img class="user-image" src="/uploads/<%=photo%>" alt="">
                            <p class="user-name">
                                <%= name %>
                            </p>
                        </div>
                        <img class="dropdown-icon" src="/images/bottom-arrow.svg" alt="">
                    </div>
                    <div class="dropdown">
                        <a up-target="main" href="#" class="qrcode">
                            <img src="/images/karekod.svg" alt="">
                            <p>Karekodum</p>
                        </a>
                        <a up-target="main" href="/company/profile">
                            <img src="/images/profile.svg" alt="">
                            <p>Profilim</p>
                        </a>
                        <a href="/auth/logout">
                            <img src="/images/sign-out.svg" alt="">
                            <p>Çıkış yap</p>
                        </a>
                    </div>
                </div>
                <% } %>
        </nav>
        <div class="overlay"></div>
        <% if (isAuth) { %>
            <div class="qrcode-area">
                <a id="qrcode-area-close-button">
                    <img class="close-icon" src="/images/close.svg" alt="">
                </a>
                <div class="img" id="qrcode-img">
                    <%- qrcode %>
                </div>
                <p>*Karekodunuzu SVG formatında indirmek için üzerine tıklayınız</p>
            </div>
            <% } %>
    </header>

    <main id="main">
        <%- body %>
    </main>

    <footer>
        <p>Devoloped by <b><a up-target="main" href="https://www.enesdeliduman.com">Enes DELIDUMAN</a></b></p>
        <div class="footer-links">
            <a up-target="main" href="https://www.instagram.com.com/enesdman_" target="_blank">
                <img src="/images/instagram.svg" alt="">
            </a>
            <a up-target="main" href="https://www.github.com/enesdman0" target="_blank">
                <img src="/images/github.svg" alt="">
            </a>
            <a up-target="main" href="https://www.linkedin.com/in/enesdeliduman" target="_blank">
                <img src="/images/linkedin.svg" alt="">
            </a>
            <a up-target="main" href="mailto:enesdeliduman@proton.me" target="_blank">
                <img src="/images/email.svg" alt="">
            </a>
        </div>
    </footer>
    <script src="/js/main.js"></script>
    <script src="/js/swiper-bundle.js"></script>
    <script src="/js/swiper.js"></script>
</body>


</html>