<div class="cafe-home container">
    <% if (menu.categories) { %>
        <div id="bulk-update-div">
            <span class="link link-primary bulk-update">Toplu güncelleme</span>
            <div class="bulk-update-area">
                <a id="bulk-update-area-close-button">
                    <img class="bulk-update" src="/images/close.svg" alt="">
                </a>
                <div class="content">
                    <span class="title">Toplu Güncelleme</span>
                    <form method="post" up-submit up-target="content">
                        <div class="input-group">
                            <select class="input" name="priceAction" id="priceAction">
                                <option value="increase" data-name="zam">Zam</option>
                                <option value="discount" data-name="indirim" selected>İndirim</option>
                            </select>
                            <select class="input" name="updateType" id="updateType">
                                <option value="percentage" data-name='%'>Yüzde</option>
                                <option value="unit" data-name="₺" selected>Birim</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <input type="text" name="updateThreshold" id="updateThreshold" class="input number-input"
                                value="200" placeholder="200">
                            <select class="input" name="thresholdType" id="thresholdType">
                                <option value="above" data-name='üzerindeki'>Üzerindekilere</option>
                                <option value="below" data-name="altındaki" selected>Altındakilere</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <input type="text" name="updateValue" id="updateValue" class="input number-input" value="50"
                                placeholder="50">
                        </div>
                        <div class="input-group info">
                            <span>Bu işlemi kaydettikten sonra
                                <span id="bulk-update-info">200₺ üzerindeki tüm ürünlerinize 50₺ indirim</span>
                                yapılacaktır.
                            </span>
                        </div>
                        <div class="input-group">
                            <input type="text" hidden value="selam" name="_csrf">
                            <button class="btn btn-primary" id="bulkUpdateSubmitButton">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="card new-category">
                <a up-target="main" href="/company/new-menu" hx-get="/company/new-menu" hx-target='#content'
                    hx-push-url='true'>
                    <div class="card-image">
                        <img src="/images/plus.svg" />
                    </div>
                    <div class="card-texts">
                        <h3 class="card-title">
                            Yeni Kategori
                        </h3>
                        <p class="card-description">
                            Yeni bir kategori eklemek için hemen buraya tıklayın!
                        </p>
                    </div>
                </a>
            </div>
            <% menu.categories.forEach(menu=>{ %>
                <div class="card">
                    <a up-target="main" href="  /company/menu/<%= menu._id %>" hx-get="/company/menu/<%= menu._id %>"
                        hx-target='#content' hx-push-url='true'>
                        <div class="card-image">
                            <img src="/uploads/<%= menu.photo?menu.photo : "https://kanal60.com/tema/genel/img/resim_yok.jpg" %>">
                        </div>
                        <div class="card-texts">
                            <h3 class="card-title">
                                <%= menu.name %>
                            </h3>
                            <p class="card-description">
                                <%= menu.description %>
                            </p>
                        </div>
                    </a>
                </div>
                <% }) %>
        </div>
        <% } %>
</div>